In [139]:
import pandas as pd
import urllib.request
import requests
import re

In [140]:
# update url from state election results website

url = "https://electionresultsfiles.sos.mn.gov/20250812/local.txt"

In [141]:
# read in data in .txt format

response = requests.get(url)
data = response.text
data = data.replace('\r', '')
data = data.split('\n')

data

['MN;;;2801;CITY QUESTION 1 (Clarkfield);11656;9001;YES;;;NP;0;1;0;0.00;0',
 'MN;;;2801;CITY QUESTION 1 (Clarkfield);11656;9002;NO;;;NP;0;1;0;0.00;0',
 'MN;;;1010;Council Member At Large (Duluth) (Elect 2);17000;9001;Jordon Johnson;;;NP;0;34;0;0.00;0',
 'MN;;;1010;Council Member At Large (Duluth) (Elect 2);17000;9002;Terese Tomanek;;;NP;0;34;0;0.00;0',
 'MN;;;1010;Council Member At Large (Duluth) (Elect 2);17000;9003;Zachary Davis Moder;;;NP;0;34;0;0.00;0',
 'MN;;;1010;Council Member At Large (Duluth) (Elect 2);17000;9004;Derek Medved;;;NP;0;34;0;0.00;0',
 'MN;;;1010;Council Member At Large (Duluth) (Elect 2);17000;9005;Asher Estrin-Haire;;;NP;0;34;0;0.00;0',
 'MN;;;1022;Council Member District 2 (Duluth);17000;9001;Diane Desotelle;;;NP;0;6;0;0.00;0',
 'MN;;;1022;Council Member District 2 (Duluth);17000;9002;Christopher Adatte;;;NP;0;6;0;0.00;0',
 'MN;;;1022;Council Member District 2 (Duluth);17000;9003;Pierre Tournier;;;NP;0;6;0;0.00;0',
 'MN;;;2801;CITY QUESTION 1 (International Falls);31040;9001;YES;;;NP;0;3;0;0.00;0',
 'MN;;;2801;CITY QUESTION 1 (International Falls);31040;9002;NO;;;NP;0;3;0;0.00;0',
 'MN;;;1001;Special Election for Mayor (Isanti);31328;9001;Jeff Johnson;;;NP;0;2;0;0.00;0',
 'MN;;;1001;Special Election for Mayor (Isanti);31328;9002;Luke Merrill;;;NP;0;2;0;0.00;0',
 'MN;;;1001;Special Election for Mayor (Isanti);31328;9099;WRITE-IN;;;NP;0;2;0;0.00;0',
 'MN;;;2131;Special Election for Council Member Ward 4 First Choice (St. Paul);58000;9001;Cole Hanson;;;NP;0;13;0;0.00;0',
 'MN;;;2131;Special Election for Council Member Ward 4 First Choice (St. Paul);58000;9002;Chauntyll Allen;;;NP;0;13;0;0.00;0',
 'MN;;;2131;Special Election for Council Member Ward 4 First Choice (St. Paul);58000;9003;Molly Coleman;;;NP;0;13;0;0.00;0',
 'MN;;;2131;Special Election for Council Member Ward 4 First Choice (St. Paul);58000;9004;Carolyn Will;;;NP;0;13;0;0.00;0',
 'MN;;;2131;Special Election for Council Member Ward 4 First Choice (St. Paul);58000;9099;WRITE-IN;;;NP;0;13;0;0.00;0',
 'MN;;;1012;Special Election for Council Member At Large (Two Harbors);65956;9001;Laura Osbakken Goutermont;;;NP;0;4;0;0.00;0',
 'MN;;;1012;Special Election for Council Member At Large (Two Harbors);65956;9002;Donna Heil;;;NP;0;4;0;0.00;0',
 'MN;;;1012;Special Election for Council Member At Large (Two Harbors);65956;9099;WRITE-IN;;;NP;0;4;0;0.00;0',
 'MN;;;1001;Mayor (White Bear Lake);69970;9001;Mary Nicklawske;;;NP;0;6;0;0.00;0',
 'MN;;;1001;Mayor (White Bear Lake);69970;9002;Matthew Schoenthaler;;;NP;0;6;0;0.00;0',
 'MN;;;1001;Mayor (White Bear Lake);69970;9003;Stephen Laliberte;;;NP;0;6;0;0.00;0',
 '']

In [142]:
# save as .txt format
with open('results.txt', 'w') as f:
    for line in data:
        f.write(line)
        f.write('\n')

In [143]:
# open in pandas as csv format

df = pd.read_csv("results.txt",delimiter = ';',header=None,)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,MN,NaN,NaN,2801,CITY QUESTION 1 (Clarkfield),11656,9001,YES,NaN,NaN,NP,0,1,0,0.0,0
1,MN,NaN,NaN,2801,CITY QUESTION 1 (Clarkfield),11656,9002,NO,NaN,NaN,NP,0,1,0,0.0,0
2,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9001,Jordon Johnson,NaN,NaN,NP,0,34,0,0.0,0
3,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9002,Terese Tomanek,NaN,NaN,NP,0,34,0,0.0,0
4,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9003,Zachary Davis Moder,NaN,NaN,NP,0,34,0,0.0,0

In [144]:
# add column names

df.columns = [
    'State',
	'County ID (if applicable)',
	'Precinct name (if applicable)',
	'Office ID',
	'Office Name', 
	'District*',
	'Candidate Order Code',
	'Candidate Name (First/Last/Suffix all in one field)',
	'Suffix (not used)',
	'Incumbent Code (not used)',
	'Party Abbreviation',
	'Number of Precincts reporting',
	'Total number of precincts voting for the office',
	'Votes for Candidate',
	'Percentage of Votes for Candidate out of Total Votes for Office',
	'Total number of votes for Office in area'
]

In [145]:
# MAKE SOME CHANGES TO THE COLUMN NAMES

df['Candidate Name (First/Last/Suffix all in one field)'] = df['Candidate Name (First/Last/Suffix all in one field)'].str.replace("Write-In","Write-in")


df.rename(columns={"Candidate Name (First/Last/Suffix all in one field)": "Candidate", "Votes for Candidate": "Votes", "Percentage of Votes for Candidate out of Total Votes for Office": "Percentage"}, inplace=True)

In [146]:
df.head(10)

,State,County ID (if applicable),Precinct name (if applicable),Office ID,Office Name,District*,Candidate Order Code,Candidate,Suffix (not used),Incumbent Code (not used),Party Abbreviation,Number of Precincts reporting,Total number of precincts voting for the office,Votes,Percentage,Total number of votes for Office in area
0,MN,NaN,NaN,2801,CITY QUESTION 1 (Clarkfield),11656,9001,YES,NaN,NaN,NP,0,1,0,0.0,0
1,MN,NaN,NaN,2801,CITY QUESTION 1 (Clarkfield),11656,9002,NO,NaN,NaN,NP,0,1,0,0.0,0
2,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9001,Jordon Johnson,NaN,NaN,NP,0,34,0,0.0,0
3,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9002,Terese Tomanek,NaN,NaN,NP,0,34,0,0.0,0
4,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9003,Zachary Davis Moder,NaN,NaN,NP,0,34,0,0.0,0
5,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9004,Derek Medved,NaN,NaN,NP,0,34,0,0.0,0
6,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9005,Asher Estrin-Haire,NaN,NaN,NP,0,34,0,0.0,0
7,MN,NaN,NaN,1022,Council Member District 2 (Duluth),17000,9001,Diane Desotelle,NaN,NaN,NP,0,6,0,0.0,0
8,MN,NaN,NaN,1022,Council Member District 2 (Duluth),17000,9002,Christopher Adatte,NaN,NaN,NP,0,6,0,0.0,0
9,MN,NaN,NaN,1022,Council Member District 2 (Duluth),17000,9003,Pierre Tournier,NaN,NaN,NP,0,6,0,0.0,0

### Ward 4 data

In [147]:
# select a subset of data for St Paul city council race
results = df[df['Office ID']==2131]
results

,State,County ID (if applicable),Precinct name (if applicable),Office ID,Office Name,District*,Candidate Order Code,Candidate,Suffix (not used),Incumbent Code (not used),Party Abbreviation,Number of Precincts reporting,Total number of precincts voting for the office,Votes,Percentage,Total number of votes for Office in area
15,MN,NaN,NaN,2131,Special Election for Council Member Ward 4 Fir...,58000,9001,Cole Hanson,NaN,NaN,NP,0,13,0,0.0,0
16,MN,NaN,NaN,2131,Special Election for Council Member Ward 4 Fir...,58000,9002,Chauntyll Allen,NaN,NaN,NP,0,13,0,0.0,0
17,MN,NaN,NaN,2131,Special Election for Council Member Ward 4 Fir...,58000,9003,Molly Coleman,NaN,NaN,NP,0,13,0,0.0,0
18,MN,NaN,NaN,2131,Special Election for Council Member Ward 4 Fir...,58000,9004,Carolyn Will,NaN,NaN,NP,0,13,0,0.0,0
19,MN,NaN,NaN,2131,Special Election for Council Member Ward 4 Fir...,58000,9099,WRITE-IN,NaN,NaN,NP,0,13,0,0.0,0

In [148]:
# Select all columns needed for graphic

results = results[['Candidate','Percentage','Votes','Number of Precincts reporting','Total number of precincts voting for the office']]
results['Candidate'] = results['Candidate'].str.replace('WRITE-IN','Write-in')

/var/folders/5t/wxffb02s329cdc135wwp_v100000gn/T/ipykernel_93722/1765582805.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['Candidate'] = results['Candidate'].str.replace('WRITE-IN','Write-in')

In [149]:
results.head()

,Candidate,Percentage,Votes,Number of Precincts reporting,Total number of precincts voting for the office
15,Cole Hanson,0.0,0,0,13
16,Chauntyll Allen,0.0,0,0,13
17,Molly Coleman,0.0,0,0,13
18,Carolyn Will,0.0,0,0,13
19,Write-in,0.0,0,0,13

In [150]:
results.to_csv("data/results.csv",index=False)

In [151]:
house_url = "https://electionresultsfiles.sos.mn.gov/20250812_1/LegislativeByDistrict.txt"
# read in data in .txt format

house_response = requests.get(house_url)
house_data = house_response.text
house_data = house_data.replace('\r', '')
house_data = house_data.split('\n')

house_data

['MN;;;0255;State Representative District 34B;34B;0301;Ruth Bittner;;;R;0;14;0;0.00;0',
 'MN;;;0255;State Representative District 34B;34B;0401;Erickson Saye;;;DFL;0;14;0;0.00;0',
 'MN;;;0255;State Representative District 34B;34B;0402;Xp Lee;;;DFL;0;14;0;0.00;0',
 'MN;;;0255;State Representative District 34B;34B;0403;Christian Eriksen;;;DFL;0;14;0;0.00;0',
 '']

In [152]:
# save as .txt format
with open('house_results.txt', 'w') as f:
    for line in house_data:
        f.write(line)
        f.write('\n')

In [153]:
# open in pandas as csv format

house_df = pd.read_csv("house_results.txt",delimiter = ';',header=None,)
house_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,MN,NaN,NaN,255,State Representative District 34B,34B,301,Ruth Bittner,NaN,NaN,R,0,14,0,0.0,0
1,MN,NaN,NaN,255,State Representative District 34B,34B,401,Erickson Saye,NaN,NaN,DFL,0,14,0,0.0,0
2,MN,NaN,NaN,255,State Representative District 34B,34B,402,Xp Lee,NaN,NaN,DFL,0,14,0,0.0,0
3,MN,NaN,NaN,255,State Representative District 34B,34B,403,Christian Eriksen,NaN,NaN,DFL,0,14,0,0.0,0

In [154]:
house_df.columns = [
    'State',
	'County ID (if applicable)',
	'Precinct name (if applicable)',
	'Office ID',
	'Office Name', 
	'District*',
	'Candidate Order Code',
	'Candidate',
	'Suffix (not used)',
	'Incumbent Code (not used)',
	'Party Abbreviation',
	'Number of Precincts reporting',
	'Total number of precincts voting for the office',
	'Votes',
	'Percentage',
	'Total number of votes for Office in area'
]

In [155]:
house_df

,State,County ID (if applicable),Precinct name (if applicable),Office ID,Office Name,District*,Candidate Order Code,Candidate,Suffix (not used),Incumbent Code (not used),Party Abbreviation,Number of Precincts reporting,Total number of precincts voting for the office,Votes,Percentage,Total number of votes for Office in area
0,MN,NaN,NaN,255,State Representative District 34B,34B,301,Ruth Bittner,NaN,NaN,R,0,14,0,0.0,0
1,MN,NaN,NaN,255,State Representative District 34B,34B,401,Erickson Saye,NaN,NaN,DFL,0,14,0,0.0,0
2,MN,NaN,NaN,255,State Representative District 34B,34B,402,Xp Lee,NaN,NaN,DFL,0,14,0,0.0,0
3,MN,NaN,NaN,255,State Representative District 34B,34B,403,Christian Eriksen,NaN,NaN,DFL,0,14,0,0.0,0

In [156]:
house_df = house_df[['Candidate','Percentage','Votes','Party Abbreviation','Number of Precincts reporting','Total number of precincts voting for the office']]
house_df

,Candidate,Percentage,Votes,Party Abbreviation,Number of Precincts reporting,Total number of precincts voting for the office
0,Ruth Bittner,0.0,0,R,0,14
1,Erickson Saye,0.0,0,DFL,0,14
2,Xp Lee,0.0,0,DFL,0,14
3,Christian Eriksen,0.0,0,DFL,0,14

In [157]:
# do not include R candidates
house_df = house_df[~house_df['Party Abbreviation'].isin(['R', 'RF'])]
house_df

,Candidate,Percentage,Votes,Party Abbreviation,Number of Precincts reporting,Total number of precincts voting for the office
1,Erickson Saye,0.0,0,DFL,0,14
2,Xp Lee,0.0,0,DFL,0,14
3,Christian Eriksen,0.0,0,DFL,0,14

In [158]:
# save house file
house_df.to_csv("data/house_results.csv",index=False)

### Precincts reported

,Number of Precincts reporting,Total number of precincts voting for the office
15,0,13