In [23]:
import pandas as pd
import urllib.request
import requests
import re

In [24]:
# update url from state election results website

url = "https://electionresultsfiles.sos.mn.gov/20250812/local.txt"

In [25]:
# read in data in .txt format

response = requests.get(url)
data = response.text
data = data.replace('\r', '')
data = data.split('\n')

data

['MN;;;2801;CITY QUESTION 1 (Clarkfield);11656;9001;YES;;;NP;1;1;708;69.62;1017',
 'MN;;;2801;CITY QUESTION 1 (Clarkfield);11656;9002;NO;;;NP;1;1;309;30.38;1017',
 'MN;;;1010;Council Member At Large (Duluth) (Elect 2);17000;9001;Jordon Johnson;;;NP;34;34;19762;23.21;85135',
 'MN;;;1010;Council Member At Large (Duluth) (Elect 2);17000;9002;Terese Tomanek;;;NP;34;34;17738;20.84;85135',
 'MN;;;1010;Council Member At Large (Duluth) (Elect 2);17000;9003;Zachary Davis Moder;;;NP;34;34;15046;17.67;85135',
 'MN;;;1010;Council Member At Large (Duluth) (Elect 2);17000;9004;Derek Medved;;;NP;34;34;16874;19.82;85135',
 'MN;;;1010;Council Member At Large (Duluth) (Elect 2);17000;9005;Asher Estrin-Haire;;;NP;34;34;15715;18.46;85135',
 'MN;;;1022;Council Member District 2 (Duluth);17000;9001;Diane Desotelle;;;NP;6;6;2894;34.82;8312',
 'MN;;;1022;Council Member District 2 (Duluth);17000;9002;Christopher Adatte;;;NP;6;6;2733;32.88;8312',
 'MN;;;1022;Council Member District 2 (Duluth);17000;9003;Pierre Tournier;;;NP;6;6;2685;32.30;8312',
 'MN;;;2801;CITY QUESTION 1 (International Falls);31040;9001;YES;;;NP;3;3;1711;46.51;3679',
 'MN;;;2801;CITY QUESTION 1 (International Falls);31040;9002;NO;;;NP;3;3;1968;53.49;3679',
 'MN;;;1001;Special Election for Mayor (Isanti);31328;9001;Jeff Johnson;;;NP;2;2;843;24.39;3456',
 'MN;;;1001;Special Election for Mayor (Isanti);31328;9002;Luke Merrill;;;NP;2;2;1004;29.05;3456',
 'MN;;;1001;Special Election for Mayor (Isanti);31328;9099;WRITE-IN;;;NP;2;2;1609;46.56;3456',
 'MN;;;2131;Special Election for Council Member Ward 4 First Choice (St. Paul);58000;9001;Cole Hanson;;;NP;13;13;8325;22.73;36627',
 'MN;;;2131;Special Election for Council Member Ward 4 First Choice (St. Paul);58000;9002;Chauntyll Allen;;;NP;13;13;7446;20.33;36627',
 'MN;;;2131;Special Election for Council Member Ward 4 First Choice (St. Paul);58000;9003;Molly Coleman;;;NP;13;13;7857;21.45;36627',
 'MN;;;2131;Special Election for Council Member Ward 4 First Choice (St. Paul);58000;9004;Carolyn Will;;;NP;13;13;6647;18.15;36627',
 'MN;;;2131;Special Election for Council Member Ward 4 First Choice (St. Paul);58000;9099;WRITE-IN;;;NP;13;13;6352;17.34;36627',
 'MN;;;1012;Special Election for Council Member At Large (Two Harbors);65956;9001;Laura Osbakken Goutermont;;;NP;4;4;2059;36.85;5588',
 'MN;;;1012;Special Election for Council Member At Large (Two Harbors);65956;9002;Donna Heil;;;NP;4;4;1744;31.21;5588',
 'MN;;;1012;Special Election for Council Member At Large (Two Harbors);65956;9099;WRITE-IN;;;NP;4;4;1785;31.94;5588',
 'MN;;;1001;Mayor (White Bear Lake);69970;9001;Mary Nicklawske;;;NP;6;6;1745;22.56;7735',
 'MN;;;1001;Mayor (White Bear Lake);69970;9002;Matthew Schoenthaler;;;NP;6;6;3324;42.97;7735',
 'MN;;;1001;Mayor (White Bear Lake);69970;9003;Stephen Laliberte;;;NP;6;6;2666;34.47;7735',
 '']

In [26]:
# save as .txt format
with open('results.txt', 'w') as f:
    for line in data:
        f.write(line)
        f.write('\n')

In [27]:
# open in pandas as csv format

df = pd.read_csv("results.txt",delimiter = ';',header=None,)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,MN,NaN,NaN,2801,CITY QUESTION 1 (Clarkfield),11656,9001,YES,NaN,NaN,NP,1,1,708,69.62,1017
1,MN,NaN,NaN,2801,CITY QUESTION 1 (Clarkfield),11656,9002,NO,NaN,NaN,NP,1,1,309,30.38,1017
2,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9001,Jordon Johnson,NaN,NaN,NP,34,34,19762,23.21,85135
3,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9002,Terese Tomanek,NaN,NaN,NP,34,34,17738,20.84,85135
4,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9003,Zachary Davis Moder,NaN,NaN,NP,34,34,15046,17.67,85135

In [28]:
# add column names

df.columns = [
    'State',
	'County ID (if applicable)',
	'Precinct name (if applicable)',
	'Office ID',
	'Office Name', 
	'District*',
	'Candidate Order Code',
	'Candidate Name (First/Last/Suffix all in one field)',
	'Suffix (not used)',
	'Incumbent Code (not used)',
	'Party Abbreviation',
	'Number of Precincts reporting',
	'Total number of precincts voting for the office',
	'Votes for Candidate',
	'Percentage of Votes for Candidate out of Total Votes for Office',
	'Total number of votes for Office in area'
]

In [29]:
# MAKE SOME CHANGES TO THE COLUMN NAMES

df['Candidate Name (First/Last/Suffix all in one field)'] = df['Candidate Name (First/Last/Suffix all in one field)'].str.replace("Write-In","Write-in")


df.rename(columns={"Candidate Name (First/Last/Suffix all in one field)": "Candidate", "Votes for Candidate": "Votes", "Percentage of Votes for Candidate out of Total Votes for Office": "Percentage"}, inplace=True)

In [30]:
df.head(10)

,State,County ID (if applicable),Precinct name (if applicable),Office ID,Office Name,District*,Candidate Order Code,Candidate,Suffix (not used),Incumbent Code (not used),Party Abbreviation,Number of Precincts reporting,Total number of precincts voting for the office,Votes,Percentage,Total number of votes for Office in area
0,MN,NaN,NaN,2801,CITY QUESTION 1 (Clarkfield),11656,9001,YES,NaN,NaN,NP,1,1,708,69.62,1017
1,MN,NaN,NaN,2801,CITY QUESTION 1 (Clarkfield),11656,9002,NO,NaN,NaN,NP,1,1,309,30.38,1017
2,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9001,Jordon Johnson,NaN,NaN,NP,34,34,19762,23.21,85135
3,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9002,Terese Tomanek,NaN,NaN,NP,34,34,17738,20.84,85135
4,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9003,Zachary Davis Moder,NaN,NaN,NP,34,34,15046,17.67,85135
5,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9004,Derek Medved,NaN,NaN,NP,34,34,16874,19.82,85135
6,MN,NaN,NaN,1010,Council Member At Large (Duluth) (Elect 2),17000,9005,Asher Estrin-Haire,NaN,NaN,NP,34,34,15715,18.46,85135
7,MN,NaN,NaN,1022,Council Member District 2 (Duluth),17000,9001,Diane Desotelle,NaN,NaN,NP,6,6,2894,34.82,8312
8,MN,NaN,NaN,1022,Council Member District 2 (Duluth),17000,9002,Christopher Adatte,NaN,NaN,NP,6,6,2733,32.88,8312
9,MN,NaN,NaN,1022,Council Member District 2 (Duluth),17000,9003,Pierre Tournier,NaN,NaN,NP,6,6,2685,32.30,8312

### Ward 4 data

In [31]:
# select a subset of data for St Paul city council race
results = df[df['Office ID']==2131]
results

,State,County ID (if applicable),Precinct name (if applicable),Office ID,Office Name,District*,Candidate Order Code,Candidate,Suffix (not used),Incumbent Code (not used),Party Abbreviation,Number of Precincts reporting,Total number of precincts voting for the office,Votes,Percentage,Total number of votes for Office in area
15,MN,NaN,NaN,2131,Special Election for Council Member Ward 4 Fir...,58000,9001,Cole Hanson,NaN,NaN,NP,13,13,8325,22.73,36627
16,MN,NaN,NaN,2131,Special Election for Council Member Ward 4 Fir...,58000,9002,Chauntyll Allen,NaN,NaN,NP,13,13,7446,20.33,36627
17,MN,NaN,NaN,2131,Special Election for Council Member Ward 4 Fir...,58000,9003,Molly Coleman,NaN,NaN,NP,13,13,7857,21.45,36627
18,MN,NaN,NaN,2131,Special Election for Council Member Ward 4 Fir...,58000,9004,Carolyn Will,NaN,NaN,NP,13,13,6647,18.15,36627
19,MN,NaN,NaN,2131,Special Election for Council Member Ward 4 Fir...,58000,9099,WRITE-IN,NaN,NaN,NP,13,13,6352,17.34,36627

In [32]:
# Select all columns needed for graphic

results = results[['Candidate','Percentage','Votes','Number of Precincts reporting','Total number of precincts voting for the office']]
results['Candidate'] = results['Candidate'].str.replace('WRITE-IN','Write-in')

/var/folders/5t/wxffb02s329cdc135wwp_v100000gn/T/ipykernel_57985/2340045131.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['Candidate'] = results['Candidate'].str.replace('WRITE-IN','Write-in')

In [33]:
results.head()

,Candidate,Votes,Percentage,Number of Precincts reporting,Total number of precincts voting for the office
15,Cole Hanson,8325,22.73,13,13
16,Chauntyll Allen,7446,20.33,13,13
17,Molly Coleman,7857,21.45,13,13
18,Carolyn Will,6647,18.15,13,13
19,Write-in,6352,17.34,13,13

In [34]:
results.to_csv("data/results.csv",index=False)

### Precincts reported

In [35]:
progress = results[['Number of Precincts reporting','Total number of precincts voting for the office']].head(1)

progress

,Number of Precincts reporting,Total number of precincts voting for the office
15,13,13

In [36]:
progress.to_json("data/progress.json",index=False)